<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reset Password</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body style="background-color:#edf4f4">

<div class="container mt-5" style="color:#4d0cb6!important;">
    <div class="row justify-content-center">
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <!-- Logo image -->
            <img src="../static/images/reset-password.png" alt="Logo" class="img-fluid mx-auto my-3">
            <div class="card shadow" style="border-radius: 3%">

                <div class="card-header border-0 bg-transparent text-start mt-3 mb-0 pb-0">
                    <h2>Reset Your Password</h2>
                </div>
                <div class="card-body">
                    <p class="text-start mt-0 f-3"
                       style="color:rgba(77,12,182,0.7)!important; font-weight:500!important;">
                        Enter a new password for your account.
                    </p>

                    <form action="{{ url_for('reset_password', token=token) }}" method="POST" class="pt-0">
                        <div class="form-group">
                            <label for="password"
                                   style="color:rgba(77,12,182,0.7)!important; font-weight:500!important;">New
                                Password</label>
                            <input type="password" class="form-control" name="password"
                                   placeholder="Enter your new password"
                                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}$"
                                   required>
                            <input type="hidden" name="email" value="{{ email }}">
                        </div>
                        <div class="form-group">
                            <label for="confirm_password"
                                   style="color:rgba(77,12,182,0.7)!important; font-weight:500!important;">Confirm
                                Password</label>
                            <input type="password" class="form-control" name="confirm_password"
                                   placeholder="Confirm your new password"
                                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}$"
                                   required>
                        </div>
                        <button type="submit" class="btn btn-block mt-4"
                                style="background-color:#4d0cb6!important; color:white; font-weight: 500!important;">
                            Reset Password
                        </button>
                    </form>
                </div>

                <div class="card-footer border-0 bg-transparent text-center mb-4"
                     style="font-weight: 500!important;">
                    <a href="{{ url_for('index') }}">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies (Popper.js and jQuery) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>
