<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="{{ url_for('display_assets') }}" class="text-nowrap logo-img d-flex justify-content-center align-items-center">
              <h1 class="fw-bolder text-primary">UUM ADS</h1>
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <!--Functionality Section-->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">FUNC</span>
                </li>
                <li class="sidebar-item" id="sidebar-func">
                    {% if not user or not user.role == 'admin' %}
                        <a class="sidebar-link {% if '/display_assets' in request.path %}active{% endif %}"
                           href="{{ url_for('display_assets') }}" aria-expanded="false">
                            <span><i class="ti ti-article"></i></span>
                            <span class="hide-menu">Asset Declaration</span>
                        </a>
                    {% else %}
                        <a class="sidebar-link" onclick="addActive(this)"
                           href="#section-revenues" aria-expanded="false">
                            <span><i class="ti ti-article"></i></span>
                            <span class="hide-menu">Revenue</span>
                        </a>
                        <a class="sidebar-link" onclick="addActive(this)"
                           href="#section-expenses" aria-expanded="false">
                            <span><i class="ti ti-article"></i></span>
                            <span class="hide-menu">Expense</span>
                        </a>
                        <a class="sidebar-link" onclick="addActive(this)"
                           href="#section-inventories" aria-expanded="false">
                            <span><i class="ti ti-article"></i></span>
                            <span class="hide-menu">Inventory</span>
                        </a>
                        <a class="sidebar-link" onclick="addActive(this)"
                           href="#section-profiles" aria-expanded="false">
                            <span><i class="ti ti-article"></i></span>
                            <span class="hide-menu">User</span>
                        </a>
                    {% endif %}
                </li>

                {% if not user %}
                    <!--Authorisation Section-->
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">AUTH</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link {% if '/profile' in request.path %}active{% endif %}"
                           href="{{ url_for('profile') }}" aria-expanded="false">
                <span>
                  <i class="ti ti-user-plus"></i>
                </span>
                            <span class="hide-menu">My Profile</span>
                        </a>
                    </li>
                {% endif %}
                <!--Extra Section-->
                <li class="nav-small-cap">
                    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                    <span class="hide-menu">EXTRA</span>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{{ url_for('index') }}" aria-expanded="false">
                <span>
                  <i class="ti ti-mood-happy"></i>
                </span>
                        <span class="hide-menu">Log Out</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
